<footer>
    <script type="text/javascript">
        $( document ).ready(function() {
            checkAuth();
        });
        function checkAuth() {
            let isLogin = false;
            if(isNeedCheckAuth()) {
                let login = localStorage.getItem(CONST_LOGIN_STORAGE);
                if(isUndefined(login)) isLogin = false;
            }
            if(!isLogin) {
                window.location.href = '/auth/login';
            } else {
                connectSystemNotified();
            }
        }

        function isNeedCheckAuth() {
            let currentPath = window.location.pathname;
            if(currentPath == "/auth/login" || currentPath == "/auth/register") return false;
            return true;
        }

        const stompClient = new StompJs.Client({
            brokerURL: 'ws://localhost:8080/ws/rtm/ws-system',
            connectHeaders: {
                'Id-Token': 'c8de26dc-196b-49b4-9173-1165d0564dd8',
                'Access-Token': 'eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJlYy5zeXMiLCJzdWIiOiJhZG1pbiIsImV4cCI6MTcxMTg1MDAwMywibG9naW5JZCI6ImFkbWluIiwidXNlcklkIjoxLCJyb2xlTmFtZXMiOlsiQURNSU4iLCJNRU1CRVIiXX0.B5H4p7huWDsQfwBupPw13Obf-WoVqll-wnRgDfxU3XAPiZaHK8ZZvSBQ2gEBpAtb8IeQbmjN4o5IiUXcX96Q1pGcwoELQg2VFpZSvssizxUo7gdVJobsiVz1PRJ25rn_q0ev0u2FyqWul_bZxc8na6lin07KMekcuImgByS9CVg4VsZGHCpMVDwe3PgQsHRItAcP98jpXqSWut3m7ZvtSRXntJtwgV2HUIL-3DcDvIJXy_rBfmwrBI13CCVYyHAyZfiT5lW2rCQaTZrtMnFicV6mEws8ZHrYuiGNO-P_StmGTNaBsuq0MX55UA7DW9zQv-sHd_LHprNnAUcRuUBY-A',
            },
            debug: function (str) {
                console.log(str);
            },
            reconnectDelay: 5000,
            heartbeatIncoming: 15000,
            heartbeatOutgoing: 15000
        });

        stompClient.onConnect = (frame) => {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/system-notified', (msg) => {
            });
        };

        stompClient.onWebSocketError = (error) => {
            console.error('Error with websocket', error);
        };

        stompClient.onStompError = (frame) => {
            console.error('Broker reported error: ' + frame.headers['message']);
            console.error('Additional details: ' + frame.body);
        };

        function connectSystemNotified() {
            stompClient.activate();
        }

        function disconnectSystemNotified() {
            stompClient.deactivate();
            console.log("Disconnected");
        }
    </script>
</footer>