<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <div th:replace="~{fragments/header}"></div>
    <link rel="stylesheet" th:href="@{/styles/auth/login-page.css}"/>
</head>
<body>
<div class="container">
    <div class="card card-container">
        <img class="profile-img-card" id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
        <p class="profile-name-card" id="profile-name"></p>
        <form>
            <span class="reauth-email" id="reauth-email"></span>
            <input autofocus class="form-control" id="inputEmail" placeholder="Email address" required type="email">
            <input class="form-control mt-3" id="inputPassword" placeholder="Password" required type="password">
            <div class="checkbox  mt-3" id="remember">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <input class="btn btn-lg btn-primary btn-block btn-signin mt-3" onclick="doLogin()" type="button"
                   value="Sign in"/>
        </form><!-- /form -->
        <a class="forgot-password mt-3" href="#">
            Forgot the password?
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->
</body>
<div th:replace="~{fragments/footer}"></div>
<script type="text/javascript">
    function doLogin() {
        let loginUrl = Util.getUaaAPIUrl("auth/login");
        let params = {
            loginId: $("#inputEmail").val(),
            password: $("#inputPassword").val()
        }
        // post login
        Util.showLoading();
        $.ajax({
            type : "POST",
            url : loginUrl,
            contentType: "application/json",
            data : JSON.stringify(params),
            success : function(data, status, jqXHR) {
                localStorage.setItem(CONST_LOGIN_STORAGE, data);
                Util.hideLoading();
                window.location.href="/chat/home";
            },
            error : function(jqXHR, status, error) {
                Util.hideLoading();
                console.error(error);
                alert("Login has some error");
            }
        });
    }
</script>
</html>