<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <div th:replace="fragments/header"></div>
    <link th:href="@{/styles/auth/login-page.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form>
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" id="inputPassword" class="form-control mt-3" placeholder="Password" required>
            <div id="remember" class="checkbox  mt-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <input class="btn btn-lg btn-primary btn-block btn-signin mt-3" type="button" value="Sign in" onclick="doLogin()" />
        </form><!-- /form -->
        <a href="#" class="forgot-password">
            Forgot the password?
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->
</body>
<div th:replace="fragments/footer"></div>
<script type="text/javascript">
    function doLogin() {
        let loginUrl = "http://localhost:8080/api/uaa/auth/login";
        let data = {
            loginId : $("#inputEmail").val(),
            password : $("#inputPassword").val()
        }
        // post login
        $.ajax({
            type: "POST",
            url: loginUrl,
            data: data,
            success: function(msg){
                window.location.href = '/auth/login';
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert("some error");
            }
        });
    }
</script>
</html>